h1 {
  color: pink;
  text-align: center
}
.highlight {
  color:pink
}
.image {
  float: left;
  padding: 5px;

}
.sidebar {
  width:30%;
  float:right;
  background-color:aquamarine;
  border: 2px pink;
  padding: 2px;
  margin: 5px;

}
.image2 {
  float: right;
  padding: 5px;
}
body {
  background-color:lightskyblue
}
